.serviceStyle {
    max-width: 1280px;
    padding: 3vw;
}
.headerStyle {
    background-color: #f9f9f9;
    max-width: 900px;
    height: 3vw;
    margin:auto;
    text-align: center;
    font-size: 1.5vw;
    cursor: pointer;
    padding-top: 1vw
}