body {
  margin:0;
  display: block;
}
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  align-items: center
}

